{% extends "base.html" %}
{% block "title" %}Order create/update{% endblock%}
{% block "title2" %}Order create/update{% endblock%}

{% block "content" %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <legend class="border-bottom mb-4">Order Create / Update</legend>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}