{% extends "base.html" %}

{% block "title" %}Password reset{% endblock %}

{% block "title2" %}Password reset{% endblock %}

{% block "content" %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
      <p>Your email:</p>
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-secondary btn-md" value="Reset password">
  </form>
{% endblock %}